@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  /* Theme 1 */
  /* Backgrounds */

  --main-background: hsl(222, 26%, 31%);
  --Very-dark-desaturated-blue-toggle-background-keypad-background: hsl(
    223,
    31%,
    20%
  );
  --toggle-background-keypad-background: hsl(223, 31%, 20%);
  --Very-dark-desaturated-blue-screen-background: hsl(224, 36%, 15%);
  --screen-background: hsl(224, 36%, 15%);

  /* #### Keys */

  --Desaturated-dark-blue-key-background: hsl(225, 21%, 49%);
  --Desaturated-dark-blue-key-shadow: hsl(224, 28%, 35%);

  --reset-del-key-bg: var(--Desaturated-dark-blue-key-background);
  --reset-del-key-shadow: var(--Desaturated-dark-blue-key-shadow);

  --key-background-toggle: hsl(6, 63%, 50%);
  --Dark-red-key-shadow: hsl(6, 70%, 34%);

  --eq-key-bg: var(--key-background-toggle);
  --eq-key-shadow: var(--Dark-red-key-shadow);

  --Light-grayish-orange-key-background: hsl(30, 25%, 89%);
  --keypad-background: var(--Light-grayish-orange-key-background);
  --Grayish-orange-key-shadow: hsl(28, 16%, 65%);
  --key-shadow: var(--Grayish-orange-key-shadow);

  /* #### Text */

  --Very-dark-grayish-blue: hsl(221, 14%, 31%);
  --keypad-text: var(--Very-dark-grayish-blue);
  --White-text: hsl(0, 0%, 100%);
  --calc-header-text: hsl(0, 0%, 100%);
  --eq-text: var(--White-text);
}

:root.light-theme {
  /* ### Theme 2 */

  /* #### Backgrounds */

  --main-background: hsl(0, 0%, 90%);
  --Grayish-red-toggle-background-keypad-background: hsl(0, 5%, 81%);
  --toggle-background-keypad-background: hsl(0, 5%, 81%);
  --Very-light-gray-screen-background: hsl(0, 0%, 93%);
  --screen-background: hsl(0, 0%, 93%);

  /* #### Keys */

  --Dark-moderate-cyan-key-background: hsl(185, 42%, 37%);
  --Very-dark-cyan-key-shadow: hsl(185, 58%, 25%);

  --reset-del-key-bg: var(--Dark-moderate-cyan-key-background);
  --reset-del-key-shadow: var(--Very-dark-cyan-key-shadow);

  --key-background-toggle: hsl(25, 98%, 40%);
  --Dark-orange-key-shadow: hsl(25, 99%, 27%);

  --eq-key-bg: var(--key-background-toggle);
  --eq-key-shadow: var(--Dark-orange-key-shadow);

  --Light-grayish-yellow-key-background: hsl(45, 7%, 89%);
  --keypad-background: var(--Light-grayish-yellow-key-background);
  --Dark-grayish-orange-key-shadow: hsl(35, 11%, 61%);
  --key-shadow: var(--Dark-grayish-orange-key-shadow);

  /* #### Text */

  --Very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --keypad-text: var(--Very-dark-grayish-yellow);
  --calc-header-text: hsl(60, 10%, 19%);
  --White-text: hsl(0, 0%, 100%);
  --eq-text: var(--White-text);
}

:root.purple-theme {
  /* ### Theme 3 */

  /* #### Backgrounds */

  --main-background: hsl(268, 75%, 9%);
  --Very-dark-violet-toggle-background-keypad-background-screen-background: hsl(
    268,
    71%,
    12%
  );
  --toggle-background-keypad-background: hsl(268, 71%, 12%);
  --screen-background: var(--toggle-background-keypad-background);
  /* #### Keys */

  --Dark-violet-key-background: hsl(281, 89%, 26%);
  --Vivid-magenta-key-shadow: hsl(285, 91%, 52%);

  --reset-del-key-bg: var(--Dark-violet-key-background);
  --reset-del-key-shadow: var(--Vivid-magenta-key-shadow);

  --key-background-toggle: hsl(176, 100%, 44%);
  --Soft-cyan-key-shadow: hsl(177, 92%, 70%);

  --eq-key-bg: var(--key-background-toggle);
  --eq-key-shadow: var(--Soft-cyan-key-shadow);

  --Very-dark-violet-key-background: hsl(268, 47%, 21%);
  --keypad-background: var(--Very-dark-violet-key-background);
  --Dark-magenta-key-shadow: hsl(290, 70%, 36%);
  --key-shadow: var(--Dark-magenta-key-shadow);

  /* #### Text */

  --Light-yellow: hsl(52, 100%, 62%);
  --keypad-text: var(--Light-yellow);
  --calc-header-text: hsl(52, 100%, 62%);
  --Very-dark-blue: hsl(198, 20%, 13%);
  --eq-text: var(--Very-dark-blue);
  --White-text: hsl(0, 0%, 100%);
}

.league-spartan-700 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: grid;
  min-height: 100vh;
  min-height: 100svh;

  background-color: var(--main-background);
}
main {
  display: flex;
  flex-direction: column;

  margin-inline: auto;
  height: 100%;
  grid-template-rows: max-content;

  /* Mobile */
  /* padding-inline: 1.5rem; */
  /* margin-block: 1.5rem; */
  /* gap: 1.65rem; */
  /* Desktop */
  padding-inline: 1.5em;
  margin-block: 1.5rem;
  gap: 1.65rem;
}
input[type="range"] {
  width: 100%;
}
#custom-toggle {
  transition: 1s ease;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  &.themes::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--key-background-toggle);
  }
}
.calc-header {
  display: flex;
  justify-content: space-between;
  height: max-content;
  color: var(--calc-header-text);
  & h1 {
    padding-block-start: 0.3rem;
    padding-inline-start: 0.5rem;
  }
}

.equal {
  grid-column: 3 / span 2;
}
.number-display {
  font-size: clamp(2.4rem, 2.1887rem + 0.9014vw, 3rem);
  padding-inline: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  padding-block: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  /* MObile */

  /* font-size: 2.4rem; */
  /* padding-inline: 1.5rem; */
  /* padding-block: 1rem; */
  /* Desktop */
  /* font-size: 3rem; */
  /* padding-inline: 2rem; */
  /* padding-block: 2rem; */

  background-color: var(--screen-background);
  color: var(--calc-header-text);
  border-radius: 0.7rem;
  display: flex;
  justify-content: flex-end;
}

.numberpad {
  display: grid;
  background-color: var(--toggle-background-keypad-background);
  border-radius: 0.7rem;

  padding: clamp(1.4rem, 1.1887rem + 0.9014vw, 2rem);
  gap: clamp(0.8rem, 0.7296rem + 0.3005vw, 1rem);
  font-size: clamp(2rem, 1.8944rem + 0.4507vw, 2.3rem);
  /* Mobile */
  /* padding: 1.4rem; */
  /* gap: 0.8rem; */
  /* font-size: 2rem; */
  /* Desktop */
  /* padding: 2rem; */
  /* gap: 1rem; */

  /* font-size: 2.3rem; */
  color: var(--keypad-text);

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);

  & button {
    background-color: var(--keypad-background);
    padding-block: 0.5rem;
    padding-inline: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: inset 0px -4px 0px var(--key-shadow);
    cursor: pointer;
  }

  & .del,
  .reset,
  .equal {
    font-size: 1.3rem;
  }

  & .reset,
  .del {
    color: var(--White-text);
    background-color: var(--reset-del-key-bg);
    box-shadow: inset 0px -4px 0px var(--reset-del-key-shadow);
  }

  & .equal {
    color: var(--eq-text);
    background-color: var(--eq-key-bg);
    box-shadow: inset 0px -4px 0px var(--eq-key-shadow);
  }
}
.theme-container {
  display: flex;
  gap: 1.6rem;
  height: max-content;
  & p {
    align-self: flex-end;
    font-size: 0.85rem;
  }
}

.theme-toggle-container {
  padding-block-start: 0.1rem;
  /* gap: 0.3rem; */
  display: flex;
  flex-direction: column;
}

.theme-nums {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.toggle {
  display: flex;
  width: 4.5em;
  height: 1.6rem;
  padding-inline: 0.3rem;
  background-color: var(--toggle-background-keypad-background);
  border-radius: 1rem;
}

.reset {
  grid-column: 1 / span 2;
}
